myappwas/apps/cbp_app/DC/classes/cbpbook/xsd/cbpbook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
	targetNamespace="http://cbp.bankware/cbpbook"
	xmlns:cbpbook="http://cbp.bankware/cbpbook" 
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xml="http://www.w3.org/XML/1998/namespace">
	 
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>	
  
  <xs:attributeGroup name="db.common.attributes">
    <xs:attribute ref="xml:id"/>
    <xs:attribute name="version"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attribute ref="xml:base"/>
    <xs:attribute name="remap"/>
    <xs:attribute name="xreflabel"/>
    <xs:attribute name="revisionflag">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="changed"/>
          <xs:enumeration value="added"/>
          <xs:enumeration value="deleted"/>
          <xs:enumeration value="off"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="dir">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ltr"/>
          <xs:enumeration value="rtl"/>
          <xs:enumeration value="lro"/>
          <xs:enumeration value="rlo"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="arch"/>
    <xs:attribute name="audience"/>
    <xs:attribute name="condition"/>
    <xs:attribute name="conformance"/>
    <xs:attribute name="os"/>
    <xs:attribute name="revision"/>
    <xs:attribute name="security"/>
    <xs:attribute name="userlevel"/>
    <xs:attribute name="vendor"/>
    <xs:attribute name="wordsize"/>
    <xs:attribute name="annotations"/>
    <xs:attribute name="cbp_mltlng"/>
    <xs:attribute name="cbp_foreach"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.common.linking.attributes">
    <xs:attribute name="linkend" type="xs:IDREF"/>
    <xs:attribute ref="xlink:href"/>
    <xs:attribute ref="xlink:type"/>
    <xs:attribute ref="xlink:role"/>
    <xs:attribute ref="xlink:arcrole"/>
    <xs:attribute ref="xlink:title"/>
    <xs:attribute ref="xlink:show"/>
    <xs:attribute ref="xlink:actuate"/>
  </xs:attributeGroup>

  <xs:element name="caution">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element ref="cbpbook:title"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
        </xs:sequence>
        <xs:choice maxOccurs="10">
          <xs:element ref="cbpbook:figure"/>
          <xs:element ref="cbpbook:table"/>
          <xs:element ref="cbpbook:screen"/>
          <xs:element ref="cbpbook:remark"/>
          <xs:element ref="cbpbook:caution"/>
          <xs:element ref="cbpbook:para"/>
          <xs:element ref="cbpbook:formalpara"/>
          <xs:element ref="cbpbook:date"/>
          <xs:element ref="cbpbook:mediaobject"/>
          <xs:element ref="cbpbook:itemizedlist"/>
          <xs:element ref="cbpbook:orderedlist"/>
          <xs:element ref="cbpbook:simplelist"/>
          <xs:element ref="cbpbook:literallayout"/>
          <xs:element ref="cbpbook:segmentedlist"/>
          <xs:element ref="cbpbook:informaltable"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
      
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="10">
            <xs:element ref="cbpbook:title"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
        </xs:sequence>
        <xs:choice>
          <xs:sequence>
            <xs:choice maxOccurs="10">
              <xs:element ref="cbpbook:figure"/>
              <xs:element ref="cbpbook:table"/>
              <xs:element ref="cbpbook:para"/>
              <xs:element ref="cbpbook:formalpara"/>
              <xs:element ref="cbpbook:caution"/>
              <xs:element ref="cbpbook:mediaobject"/>
              <xs:element ref="cbpbook:literallayout"/>
              <xs:element ref="cbpbook:segmentedlist"/>
              <xs:element ref="cbpbook:programlisting"/>
              <xs:element ref="cbpbook:informaltable"/>
            </xs:choice>
            <xs:choice minOccurs="0">
              <xs:sequence>
                <xs:element maxOccurs="10" ref="cbpbook:section"/>
              </xs:sequence>
            </xs:choice>              
          </xs:sequence>
        </xs:choice>     
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="label"/>
      <xs:attribute name="status"/>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="2">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element> 
    
   <xs:element name="formalpara">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="2">
            <xs:element ref="cbpbook:title"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
        </xs:sequence>
        <xs:element ref="cbpbook:para"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="para">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="10">
        <xs:element ref="cbpbook:info"/>
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:figure"/>
        <xs:element ref="cbpbook:table"/>
        <xs:element ref="cbpbook:screen"/>
        <xs:element ref="cbpbook:caution"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:mediaobject"/>
        <xs:element ref="cbpbook:literallayout"/>
        <xs:element ref="cbpbook:itemizedlist"/>
        <xs:element ref="cbpbook:orderedlist"/>
        <xs:element ref="cbpbook:simplelist"/>
        <xs:element ref="cbpbook:segmentedlist"/>
        <xs:element ref="cbpbook:phrase"/>
        <xs:element ref="cbpbook:programlisting"/>
        <xs:element ref="cbpbook:informaltable"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="screen">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:info"/>
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="continuation">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="continues"/>
            <xs:enumeration value="restarts"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="linenumbering">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="numbered"/>
            <xs:enumeration value="unnumbered"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="startinglinenumber" type="xs:NMTOKEN"/>
      <xs:attribute name="language"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute name="width" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="info">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="cbpbook:title"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="cbpbook:date"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
    </xs:complexType>
  </xs:element>
      
  <xs:element name="remark">
    <xs:complexType mixed="true">
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>     

  <xs:element name="link">
    <xs:complexType mixed="true">
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="xrefstyle"/>
      <xs:attribute name="endterm" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
   
  <xs:element name="figure">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element ref="cbpbook:title"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
        </xs:sequence>
        <xs:choice maxOccurs="10">
          <xs:element ref="cbpbook:mediaobject"/>  
          <xs:element ref="cbpbook:itemizedlist"/>
          <xs:element ref="cbpbook:orderedlist"/>
          <xs:element ref="cbpbook:simplelist"/>
          <xs:element ref="cbpbook:literallayout"/>  
         <xs:element ref="cbpbook:segmentedlist"/>      
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="label"/>
      <xs:attribute name="pgwide">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="floatstyle"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="alt">
    <xs:complexType mixed="true">
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="imagedata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cbpbook:info"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attribute name="format"/>
      <xs:attribute name="fileref"/>
      <xs:attribute name="entityref" type="xs:ENTITY"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="width"/>
      <xs:attribute name="contentwidth"/>
      <xs:attribute name="scalefit">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scale" type="xs:NMTOKEN"/>
      <xs:attribute name="depth"/>
      <xs:attribute name="contentdepth"/>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="imageobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cbpbook:info"/>
        <xs:element ref="cbpbook:imagedata"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="mediaobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cbpbook:info"/>
        <xs:element minOccurs="0" ref="cbpbook:alt"/>
        <xs:choice maxOccurs="1">
          <xs:element ref="cbpbook:imageobject"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="cbpbook:caption"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  
 <xs:element name="caption">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="10">
        <xs:element ref="cbpbook:screen"/>
        <xs:element ref="cbpbook:itemizedlist"/>
        <xs:element ref="cbpbook:orderedlist"/>
        <xs:element ref="cbpbook:simplelist"/>
        <xs:element ref="cbpbook:literallayout"/>
        <xs:element ref="cbpbook:segmentedlist"/>
	  </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="thead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="5" ref="cbpbook:colspec"/>
        <xs:choice>
          <xs:element maxOccurs="20" ref="cbpbook:row"/>
          <xs:element maxOccurs="10" ref="cbpbook:tr"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tfoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="10" ref="cbpbook:colspec"/>
        <xs:choice>
          <xs:element maxOccurs="20" ref="cbpbook:row"/>
          <xs:element maxOccurs="1" ref="cbpbook:tr"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="tbody">
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="20" ref="cbpbook:row"/>
        <xs:element maxOccurs="1" ref="cbpbook:tr"/>
      </xs:choice>   
      <xs:attribute name="role"/>  
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
    </xs:complexType>
  </xs:element>    
      
  <xs:element name="tgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="10" ref="cbpbook:colspec"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="cbpbook:spanspec"/>
        <xs:element minOccurs="0" ref="cbpbook:thead"/>
        <xs:element minOccurs="0" ref="cbpbook:tfoot"/>
        <xs:element ref="cbpbook:tbody"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="tgroupstyle"/>
      <xs:attribute name="cols" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="colsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="tr">
    <xs:complexType>
      <xs:choice maxOccurs="1">
        <xs:element ref="cbpbook:th"/>
        <xs:element ref="cbpbook:td"/>
      </xs:choice>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="table">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
          <xs:element ref="cbpbook:title"/>
          <xs:choice>
            <xs:element maxOccurs="1" ref="cbpbook:tgroup"/>
          </xs:choice>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="cbpbook:caption"/>
          <xs:choice>
            <xs:element minOccurs="0" maxOccurs="1" ref="cbpbook:col"/>
            <xs:element minOccurs="0" maxOccurs="1" ref="cbpbook:colgroup"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:thead"/>
          <xs:element minOccurs="0" ref="cbpbook:tfoot"/>
          <xs:choice>
            <xs:element maxOccurs="1" ref="cbpbook:tbody"/>
            <xs:element maxOccurs="1" ref="cbpbook:tr"/>
          </xs:choice>
        </xs:sequence>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attribute name="label"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="tabstyle"/>
      <xs:attribute name="floatstyle"/>
      <xs:attribute name="orient">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="land"/>
            <xs:enumeration value="port"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="colsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="all"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="sides"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="topbot"/>
            <xs:enumeration value="void"/>
            <xs:enumeration value="above"/>
            <xs:enumeration value="below"/>
            <xs:enumeration value="hsides"/>
            <xs:enumeration value="lhs"/>
            <xs:enumeration value="rhs"/>
            <xs:enumeration value="vsides"/>
            <xs:enumeration value="box"/>
            <xs:enumeration value="border"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="pgwide">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="shortentry">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="tocentry">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowheader">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="firstcol"/>
            <xs:enumeration value="norowheader"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="summary"/>
      <xs:attribute name="width"/>
      <xs:attribute name="border" type="xs:NMTOKEN"/>
      <xs:attribute name="rules">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
            <xs:enumeration value="groups"/>
            <xs:enumeration value="rows"/>
            <xs:enumeration value="cols"/>
            <xs:enumeration value="all"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cellspacing"/>
      <xs:attribute name="cellpadding"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="th">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:para"/>
        <xs:element ref="cbpbook:formalpara"/>
        <xs:element ref="cbpbook:screen"/>
        <xs:element ref="cbpbook:caution"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:mediaobject"/>
        <xs:element ref="cbpbook:programlisting"/>
      </xs:choice>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="abbr"/>
      <xs:attribute name="axis"/>
      <xs:attribute name="headers"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="row"/>
            <xs:enumeration value="col"/>
            <xs:enumeration value="rowgroup"/>
            <xs:enumeration value="colgroup"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowspan" type="xs:NMTOKEN"/>
      <xs:attribute name="colspan" type="xs:NMTOKEN"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="td">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:para"/>
        <xs:element ref="cbpbook:formalpara"/>
        <xs:element ref="cbpbook:screen"/>
        <xs:element ref="cbpbook:caution"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:mediaobject"/>
        <xs:element ref="cbpbook:programlisting"/>
      </xs:choice>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="abbr"/>
      <xs:attribute name="axis"/>
      <xs:attribute name="headers"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="row"/>
            <xs:enumeration value="col"/>
            <xs:enumeration value="rowgroup"/>
            <xs:enumeration value="colgroup"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowspan" type="xs:NMTOKEN"/>
      <xs:attribute name="colspan" type="xs:NMTOKEN"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="col">
    <xs:complexType>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="span" type="xs:NMTOKEN"/>
      <xs:attribute name="width"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="colgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="cbpbook:col"/>
      </xs:sequence>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="span" type="xs:NMTOKEN"/>
      <xs:attribute name="width"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="char"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
      
  <xs:element name="emphasis">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="row">
    <xs:complexType>
      <xs:choice maxOccurs="20">
        <xs:element ref="cbpbook:entry"/>
        <xs:element ref="cbpbook:entrytbl"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
        
  <xs:element name="entry">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="10">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:figure"/>
        <xs:element ref="cbpbook:table"/>
        <xs:element ref="cbpbook:screen"/>
        <xs:element ref="cbpbook:caution"/>        
        <xs:element ref="cbpbook:para"/>
        <xs:element ref="cbpbook:formalpara"/>
        <xs:element ref="cbpbook:mediaobject"/>
        <xs:element ref="cbpbook:itemizedlist"/>
        <xs:element ref="cbpbook:simplelist"/>
        <xs:element ref="cbpbook:orderedlist"/>
        <xs:element ref="cbpbook:phrase"/>
        <xs:element ref="cbpbook:programlisting"/>
        <xs:element ref="cbpbook:informaltable"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="colsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charoff"/>
      <xs:attribute name="morerows" type="xs:NMTOKEN"/>
      <xs:attribute name="colname"/>
      <xs:attribute name="namest"/>
      <xs:attribute name="spanname"/>
      <xs:attribute name="nameend"/>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rotate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
          
  <xs:element name="entrytbl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="10" ref="cbpbook:colspec"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="cbpbook:spanspec"/>
        <xs:element minOccurs="0" ref="cbpbook:thead"/>
        <xs:element ref="cbpbook:tbody"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="colname"/>
      <xs:attribute name="namest"/>
      <xs:attribute name="spanname"/>
      <xs:attribute name="nameend"/>
      <xs:attribute name="tgroupstyle"/>
      <xs:attribute name="cols" type="xs:NMTOKEN"/>
      <xs:attribute name="colsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
        
  <xs:element name="colspec">
    <xs:complexType>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="colnum" type="xs:NMTOKEN"/>
      <xs:attribute name="char"/>
      <xs:attribute name="colsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="colwidth"/>
      <xs:attribute name="charoff"/>
      <xs:attribute name="colname"/>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="spanspec">
    <xs:complexType>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="spanname" use="required"/>
      <xs:attribute name="namest" use="required"/>
      <xs:attribute name="nameend" use="required"/>
      <xs:attribute name="char"/>
      <xs:attribute name="colsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charoff"/>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element> 
  
  <xs:element name="itemizedlist">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element ref="cbpbook:title"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
        </xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="10">
          <xs:element ref="cbpbook:itemizedlist"/>
          <xs:element ref="cbpbook:orderedlist"/>
          <xs:element ref="cbpbook:simplelist"/>
          <xs:element ref="cbpbook:figure"/>
          <xs:element ref="cbpbook:table"/>
          <xs:element ref="cbpbook:mediaobject"/>
          <xs:element ref="cbpbook:screen"/>
          <xs:element ref="cbpbook:literallayout"/>
          <xs:element ref="cbpbook:remark"/>
          <xs:element ref="cbpbook:caution"/>
          <xs:element ref="cbpbook:para"/>
          <xs:element ref="cbpbook:formalpara"/> 
          <xs:element ref="cbpbook:segmentedlist"/>   
          <xs:element ref="cbpbook:programlisting"/>   
          <xs:element ref="cbpbook:informaltable"/>
        </xs:choice>
        <xs:element maxOccurs="10" ref="cbpbook:listitem"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="spacing">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="compact"/>
            <xs:enumeration value="normal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mark" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
   
  <xs:element name="literallayout">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="10">
        <xs:element ref="cbpbook:info"/>
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:alt"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="continuation">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="continues"/>
            <xs:enumeration value="restarts"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="linenumbering">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="numbered"/>
            <xs:enumeration value="unnumbered"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="startinglinenumber" type="xs:NMTOKEN"/>
      <xs:attribute name="language"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="monospaced"/>
            <xs:enumeration value="normal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
       
  <xs:element name="listitem">
    <xs:complexType>
      <xs:choice maxOccurs="10">
        <xs:element ref="cbpbook:itemizedlist"/>
        <xs:element ref="cbpbook:orderedlist"/>
        <xs:element ref="cbpbook:simplelist"/>
        <xs:element ref="cbpbook:figure"/>
        <xs:element ref="cbpbook:table"/>
        <xs:element ref="cbpbook:mediaobject"/>
        <xs:element ref="cbpbook:screen"/>
        <xs:element ref="cbpbook:literallayout"/>
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:caution"/>
        <xs:element ref="cbpbook:para"/>
        <xs:element ref="cbpbook:formalpara"/>
        <xs:element ref="cbpbook:segmentedlist"/>
        <xs:element ref="cbpbook:programlisting"/>
        <xs:element ref="cbpbook:informaltable"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="override" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="orderedlist">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element ref="cbpbook:title"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
        </xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="10">
          <xs:element ref="cbpbook:itemizedlist"/>
          <xs:element ref="cbpbook:orderedlist"/>
          <xs:element ref="cbpbook:simplelist"/>
          <xs:element ref="cbpbook:figure"/>
          <xs:element ref="cbpbook:table"/>
          <xs:element ref="cbpbook:mediaobject"/>
          <xs:element ref="cbpbook:screen"/>
          <xs:element ref="cbpbook:literallayout"/>
          <xs:element ref="cbpbook:remark"/>
          <xs:element ref="cbpbook:caution"/>
          <xs:element ref="cbpbook:para"/>
          <xs:element ref="cbpbook:formalpara"/>
          <xs:element ref="cbpbook:segmentedlist"/>
          <xs:element ref="cbpbook:programlisting"/>
          <xs:element ref="cbpbook:informaltable"/>
       </xs:choice>
        <xs:element maxOccurs="1" ref="cbpbook:listitem"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="spacing">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="compact"/>
            <xs:enumeration value="normal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="continuation">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="continues"/>
            <xs:enumeration value="restarts"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="startingnumber" type="xs:NMTOKEN"/>
      <xs:attribute name="inheritnum">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ignore"/>
            <xs:enumeration value="inherit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numeration">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="arabic"/>
            <xs:enumeration value="upperalpha"/>
            <xs:enumeration value="loweralpha"/>
            <xs:enumeration value="upperroman"/>
            <xs:enumeration value="lowerroman"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
       
  <xs:element name="simplelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" ref="cbpbook:member"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="type" default="vert">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="horiz"/>
            <xs:enumeration value="vert"/>
            <xs:enumeration value="inline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columns" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
             
  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
             
  <xs:element name="member">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:alt"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:link"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="segmentedlist">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element ref="cbpbook:title"/>
          </xs:choice>
          <xs:element minOccurs="0" ref="cbpbook:info"/>
        </xs:sequence>
        <xs:element maxOccurs="5" ref="cbpbook:segtitle"/>
        <xs:element maxOccurs="5" ref="cbpbook:seglistitem"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="segtitle">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="5">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:alt"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="seglistitem">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="5" ref="cbpbook:seg"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="seg">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:alt"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>  
      
  <xs:element name="phrase">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:alt"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
           
  <xs:element name="programlisting">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element ref="cbpbook:info"/>
        <xs:element ref="cbpbook:remark"/>
        <xs:element ref="cbpbook:link"/>
        <xs:element ref="cbpbook:alt"/>
        <xs:element ref="cbpbook:date"/>
        <xs:element ref="cbpbook:emphasis"/>
        <xs:element ref="cbpbook:phrase"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="continuation">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="continues"/>
            <xs:enumeration value="restarts"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="linenumbering">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="numbered"/>
            <xs:enumeration value="unnumbered"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="startinglinenumber" type="xs:NMTOKEN"/>
      <xs:attribute name="language"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute name="width" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>           
 
  <xs:element name="informaltable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="cbpbook:info"/>
        <xs:choice>
          <xs:sequence>
            <xs:choice>
              <xs:element maxOccurs="1" ref="cbpbook:mediaobject"/>
              <xs:element maxOccurs="1" ref="cbpbook:tgroup"/>
            </xs:choice>
          </xs:sequence>
          <xs:sequence>
            <xs:choice>
              <xs:element minOccurs="0" maxOccurs="1" ref="cbpbook:col"/>
              <xs:element minOccurs="0" maxOccurs="1" ref="cbpbook:colgroup"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="cbpbook:thead"/>
            <xs:element minOccurs="0" ref="cbpbook:tfoot"/>
            <xs:choice>
              <xs:element maxOccurs="1" ref="cbpbook:tbody"/>
              <xs:element maxOccurs="1" ref="cbpbook:tr"/>
            </xs:choice>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="cbpbook:db.common.attributes"/>
      <xs:attributeGroup ref="cbpbook:db.common.linking.attributes"/>
      <xs:attribute name="tabstyle"/>
      <xs:attribute name="floatstyle"/>
      <xs:attribute name="orient">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="land"/>
            <xs:enumeration value="port"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="colsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowsep">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="all"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="sides"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="topbot"/>
            <xs:enumeration value="void"/>
            <xs:enumeration value="above"/>
            <xs:enumeration value="below"/>
            <xs:enumeration value="hsides"/>
            <xs:enumeration value="lhs"/>
            <xs:enumeration value="rhs"/>
            <xs:enumeration value="vsides"/>
            <xs:enumeration value="box"/>
            <xs:enumeration value="border"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="pgwide">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowheader">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="firstcol"/>
            <xs:enumeration value="norowheader"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="class"/>
      <xs:attribute name="style"/>
      <xs:attribute name="title"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="onclick"/>
      <xs:attribute name="ondblclick"/>
      <xs:attribute name="onmousedown"/>
      <xs:attribute name="onmouseup"/>
      <xs:attribute name="onmouseover"/>
      <xs:attribute name="onmousemove"/>
      <xs:attribute name="onmouseout"/>
      <xs:attribute name="onkeypress"/>
      <xs:attribute name="onkeydown"/>
      <xs:attribute name="onkeyup"/>
      <xs:attribute name="summary"/>
      <xs:attribute name="width"/>
      <xs:attribute name="border" type="xs:NMTOKEN"/>
      <xs:attribute name="rules">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
            <xs:enumeration value="groups"/>
            <xs:enumeration value="rows"/>
            <xs:enumeration value="cols"/>
            <xs:enumeration value="all"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cellspacing"/>
      <xs:attribute name="cellpadding"/>
    </xs:complexType>
  </xs:element>
                               
</xs:schema>  